html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

/*音乐开始*/

#music {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 2;
}
#music .musicbg{
    width: 60px;
    height: 60px;
    display: block;
}
#music .musictu{
    position: absolute;
    top: 16px;
    right: 16px;
    animation: circle 1.5s 0s linear infinite;
}
@keyframes circle {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
/*第一屏*/
.swiper-slide.one{
    background: url("../img/onebg.jpg");
    background-size: 100% 100%;
}
.swiper-slide.one .top{
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    border: solid 10px #fff;
    overflow: hidden;
}
.swiper-slide.one .top img{
    width: 100%;
}
.swiper-slide.one .center{
    width: 70%;
    height: 20%;
    margin: 0 auto;
    margin-top: 8%;
    position: relative;
}
.swiper-slide.one .center .ring{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}
.swiper-slide.one .center .marry{
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
}
.swiper-slide.one .bottom{
    width: 51%;
    font-size: 10vw;
    margin: 0 auto;
    margin-top: 6%;
    color: red;
}
.swiper-slide.one .bottom div{
    float: left;
}
/*第二屏*/
.swiper-slide.two{
    background: url("../img/twobg.jpg");
    background-size: 100% 100%;
}
.swiper-slide.two .top{
    width: 
}